.home-container-1{
    min-height: 100vh;
    max-width: 1250px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0% auto;
}

.home-container-2{
    max-width: 1100px;
    width:calc(100% - 164px);
    border: 1px solid #d6d9dc;
    padding: 24px;
    box-sizing: border-box;
}

/* @media screen and (max-width: 760px) {
    .home-container-2 {
      max-width: 100%;
      width: 100%;
    }
  } */

  @media only screen and (min-width: 600px) and (max-width: 900px) {
    .home-container-2 {
      max-width: 700px; /* Adjust max-width */
      width: calc(100% - 48px); /* Adjust width */
      padding: 16px; /* Reduce padding */
    }
  }
  
  @media only screen and (max-width: 600px) {
    .home-container-1 {
      flex-direction: column; /* Stack elements vertically */
    }
  
    .home-container-2 {
      max-width: 100%; /* Adjust max-width */
      width: calc(100% - 32px); /* Adjust width */
      padding: 12px; /* Reduce padding */
    }
  }  